<ion-view title="知识点-中律教育" hide-back-button="true">
    <ion-content class="k-nn">
       <div class="k-cha">
         <p>
          <input type="text" placeholder="请输入关键字" ng-click="s=true">
            <i class="ion-search"></i>  
          </p>
          <span ng-click="s=false" ng-show="s">取消</span>
       </div>
        <div class="k-div" ng-repeat=" x in viewMenu " ng-show="!s">
            <h4>{{ x.title }}</h4>
            <ul class="k-dul">
                <li class="u-li" ng-repeat=" i in x.menu ">
                    <p ng-click="show=!show">
                        {{ i.title }}
                    <i class="ion-chevron-down"></i>
                    </p>
                    <a ng-repeat=" o in i.Sublist " ng-show="show">
                        {{ o.title }}
                        <span>{{o.is_layer}}<i class="ion-chevron-right"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
    <foot-directive></foot-directive>
</ion-view>