<ion-view title="知识点-中律教育">
    <ion-content class="k-nn" ng-controller="knowCtrl">
       <div class="k-cha">
         <p>
          <input type="text" placeholder="请输入关键字" ng-click="s=true">
            <i class="ion-search"></i>  
          </p>
          <span ng-click="s=false" ng-show="s">取消</span>
       </div>
        <div class="k-div" ng-repeat=" x in quan " ng-show="!s">
            <h4>{{ x.name }}</h4>
            <ul class="k-dul">
                <li class="u-li" ng-repeat=" a in x.biao ">
                   <p ng-click="show=!show">
                        {{ a.name }}
                    <i class="ion-chevron-down"></i>
                   </p>
                   <a ng-repeat=" b in a.bian " ng-show="show">
                        {{ b.name }}
                        <span>{{ b.ti }} <i class="ion-chevron-right"></i></span>
                   </a>
                </li>
            </ul>
        </div>
    </ion-content>
    <foot-directive></foot-directive>
</ion-view>