<ion-view title="题库">
	<ion-contentd>
		<div class="bank_main">
		<ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs >
			 <ion-slide ion-slide-tab-label="司考">
			<div class="tab">
				<div class="bank_nav2">
					<ul>
						<li><a  ui-sref="bank.history" ui-sref-active="on">历年<br/>真题</a></li>
						<li><a  ui-sref="bank.branch" ui-sref-active="on">分科<br/>真题</a></li>
						<li><a  ui-sref="bank.simulation" ui-sref-active="on">模拟<br/>试卷</a></li>
						<li><a  ui-sref="bank.stream" ui-sref-active="on">题海<br/>实战</a></li>
						<li><a  ui-sref="bank.main" ui-sref-active="on">主观题<br/>实训</a></li>
						<!-- <li ng-repeat="item in nav" ng-click="tab($index)">
							<a href="javascript:;" ng-bind-html="item.name|myFilter"></a>
						</li> -->
					</ul>
				</div>
				<ion-scroll>
				<div class="bank_list">
				<div ui-view></div>				
				</div> 
				</ion-scroll>
			</div>
			</ion-slide>
			<ion-slide ion-slide-tab-label="法硕">
				<div class="tab">
				<div class="bank_nav2">
					<ul>
						<li><a ui-sref="bank.history" ui-sref-active="on">历年<br/>真题</a></li>
						<li><a ui-sref="bank.branch" ui-sref-active="on">分科<br/>真题</a></li>
						<li><a ui-sref="bank.stream" ui-sref-active="on">考试<br/>分析</a></li>
						<li><a ui-sref="bank.simulation" ui-sref-active="on">模拟<br/>试卷</a></li>
					</ul>
				</div>
				<ion-scroll>
				<div class="bank_list">
				<div ui-view></div>
				</div> 
				</ion-scroll>
			</div>
	
			</ion-slide>
                <ion-slide ion-slide-tab-label="考研英语">
					<div class="tab">
				<div class="bank_nav2">
					<ul>
						<li><a  ui-sref="bank.history" ui-sref-active="on">历年<br/>真题</a></li>
						<li><a  ui-sref="bank.branch" ui-sref-active="on">分科<br/>真题</a></li>
						<li><a  ui-sref="bank.simulation" ui-sref-active="on">模拟<br/>试卷</a></li>
					</ul>
				</div>
				<ion-scroll>
				<div class="bank_list">
					<div ui-view></div>
				</div> 
				</ion-scroll>
			</div>
                </ion-slide>
                <ion-slide ion-slide-tab-label="考研政治">
					<div class="tab">
				<div class="bank_nav2">
					<ul>
						<li><a  ui-sref="bank.history" ui-sref-active="on">历年<br/>真题</a></li>
						<li><a  ui-sref="bank.branch" ui-sref-active="on">分科<br/>真题</a></li>
					</ul>
				</div>
				<ion-scroll>
				<div class="bank_list">
					<div ui-view></div>
				</div> 
				</ion-scroll>
			</div>
                </ion-slide>
			</ion-slide-box>	
		</div>
	</ion-content>
	<foot-directive></foot-directive>
</ion-view>