<ion-view title="题库" hide-back-button="true">
<div class="bank_main">
	<ion-content>
		<ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs >
		 <ion-slide  ng-repeat="item in list1" ion-slide-tab-label="{{item.title}}" >
			<div class="tab">

				<div class="bank_nav2">
					<ul>
						<li ng-repeat="item1 in item.data" ng-click="getClass($index)">
							<a data-id={{item1.id}}  ng-click="getID($index)" class="content">{{item1.title}}</a>
						</li>
					</ul>	
				</div>
				<ion-scroll>
					<div class="bank_list">
						<ul>
							<li ng-repeat="item in list2" ui-sref='score({id:item.id})'>
								<a>
									<span>{{item.title}}</span>
									<aside>
										<p>
											<small>题数</small>
											<span>{{item.count}}</span>
										</p>
										<p class="left">
											<small class="fa fa-clock-o icon clock"></small>	
											<span>{{item.exam_time}}</span>
										</p>
										<p class="fa fa-angle-right left"></p>
									</aside>
								</a>
							</li>
						</ul>		
					</div> 
				</ion-scroll>
			</div>
		</ion-slide>
	</ion-slide-box>	
		
</ion-content>
	</div>
	<foot-directive></foot-directive>
</ion-view>