/*
Error: Invalid CSS after "...f8f2dd4278f4cad": expected "{", was ""
        on line 68 of D:/study/angular/ionic/NewProduct/NewProduct/www/public/scss/pages/index.scss
        from line 3 of D:/study/angular/ionic/NewProduct/NewProduct/www/public/scss/page.scss
        from line 3 of D:\study\angular\ionic\NewProduct\NewProduct\www\public\css\style.scss

63:        }
64: 	}
65: }
66: =======
67: >>>>>>> 215b4cb751627cc0c1b3b45a1f8f2dd4278f4cad

Backtrace:
D:/study/angular/ionic/NewProduct/NewProduct/www/public/scss/pages/index.scss:68
D:/study/angular/ionic/NewProduct/NewProduct/www/public/scss/page.scss:3
D:\study\angular\ionic\NewProduct\NewProduct\www\public\css\style.scss:3
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:299:in `to_tree'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/软件/koala/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/软件/koala/Koala/bin/sass:18:in `load'
D:/软件/koala/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...f8f2dd4278f4cad\": expected \"{\", was \"\"\A         on line 68 of D:/study/angular/ionic/NewProduct/NewProduct/www/public/scss/pages/index.scss\A         from line 3 of D:/study/angular/ionic/NewProduct/NewProduct/www/public/scss/page.scss\A         from line 3 of D:\study\angular\ionic\NewProduct\NewProduct\www\public\css\style.scss\A \A 63:        }\A 64: 	}\A 65: }\A 66: =======\A 67: >>>>>>> 215b4cb751627cc0c1b3b45a1f8f2dd4278f4cad"; }
