<footer class="foot">
	<a ui-sref-active="on" ui-sref="index">
		<i class="fa fa-home"></i>
		<span>首页</span>
	</a>
	<a ui-sref-active="on" ui-sref="bank">
		<i class="fa fa-map-marker"></i>
		<span>题库</span>
	</a>
	<a ui-sref-active="on" ui-sref="know">
		<i class="fa icon-desktop"></i>
		<span>知识点</span>
	</a>
	<a ui-sref-active="on" ui-sref="course">
		<i class="fa icon-bold"></i>
		<span>课程</span>
	</a>
	<a ui-sref-active="on" ui-sref="myself">
		<i class="fa icon-user"></i>
		<span>我的</span>
	</a>
</footer>