<footer class="foot">
	<a ui-sref-active="on" ui-sref="index" nav-transition="none">
		<i class="fa fa-home"></i>
		<span>首页</span>
	</a>
	<a ui-sref-active="on" ui-sref="bank">
		<i class="fa fa-map-marker"></i>
		<span>题库</span>
	</a>
	<a ui-sref-active="on" ui-sref="know" nav-transition="none">

		<i class="fa fa-desktop"></i>
		<span>知识点</span>
	</a>
	<a ui-sref-active="on" ui-sref="course" nav-transition="none">
		<i class="fa fa-bold"></i>
		<span>课程</span>
	</a>
	<a ui-sref-active="on" ui-sref="myself" nav-transition="none">
		<i class="fa fa-user"></i>
		<span>我的</span>
	</a>
</footer>