.myself{
	width: 100%;
	position: relative;
	.banner{
		width: 100%;
		a{
			display: block;
			img{
				display: block;
				width: 100%;
			}
		}
	}
	.sect{
		width: 100%;
		.my{
			display: block;
			display: -webkit-box;
			width:100%;
			padding:0 30px;
			border-bottom: 1px solid #eee;
			span{
				line-height: 40px;
				display: block;
				color:#ccc;
				&:nth-child(1){
					-webkit-box-flex:1;
				}
			}
		}
	}
	.but{ 
		width: 100px;
		height: 40px;
		position: absolute;
		bottom:-60px;
		left:50%;
		margin-left: -50px;
		border: 1px solid #ccc;
		border-radius: 12px;
		text-align: center;
		background: orange;
		a{
			line-height: 40px;
			color:#fff;
		}
	}
}

