	.bank_list{
		width: 100%;
		background: #fff;
		ul{
			width: 100%;
			padding: 0 10px;
			li{
				width: 100%;
				a{		
				border-top:1px solid #ebebeb;
				height: 38px;
				display: -webkit-box;
				-webkit-box-align:center;
				-webkit-box-pack:justify;
				span{
					display: block;
					font-size:10px;
					color: #333333;
				}
				aside{
					width: 35%;
					display: block;
					display: -webkit-box;
					-webkit-box-align:center;
					-webkit-box-pack:justify;
					color:#595959;
					p{
						display: -webkit-box;
						-webkit-box-align:center;
						-webkit-box-pack:center;
						width: 30px;
						&.left{
							padding-left: 15px;
						}
						.clock{
							padding-right: 2px;
						}
						.icon{
							color: #ff9a00;
						}
					}

				}
			}
		}




		}
	}
.bank_main{
	width: 100%;
	margin-top: 44px;
	.bank_nav1{
		width: 100%;
		height: 46px;
		background: #fff;
		ul{
			height: 46px;
			display: -webkit-box;
			-webkit-box-align:center;
			-webkit-box-pack:center;
			li{
				height:46px;
				line-height: 46px;
				font-size: 0.12rem;
				-webkit-box-flex:1;
				text-align: center;
				&.over{
					border-bottom: 1px solid #ff9a00;
				}
				a{
					color: #000;
				}	
				&.on{
					a{
						color:#ff9a00;
					}
				}
			}
		}
	}
	.bank_nav2{
		width: 100%;
		height:80px;
		box-sizing: border-box;
		background: #fff;
		ul{
			box-sizing: border-box;
			padding: 8px 0;
			display: -webkit-box;
			-webkit-box-align:center;
			-webkit-box-pack:justify;
			li{
				margin-right:2px;
				font-size: 0.12rem;
				border:1px solid #ccc;
				margin: 5px;
				display: -webkit-box;
				-webkit-box-align:center;
				-webkit-box-pack:center;
				width: 50px;
				height: 50px;
				border-radius: 50px;
				box-sizing: border-box;
				a{
					display: block;
					width: 100%;
					height: 100%;
					border-radius: 100%;
					color: #000;
					text-align: center;
					padding: 7px;
					&.on{
						background: #ff9a00;
						color:#fff;
					}
				}
				
			}

		}
	}

}
.score_nav{
	width: 100%;
	height: 46px;
	background: #eee;
	span{
		text-align: center;
		line-height: 46px;
		color: #000;
		display: block;
		font-size: 0.14rem;
	}
}
.score_list{
	width: 100%;
	ul{
		width: 100%;
		li{
			width: 100%;
			a{
				width: 16%;
				height: 50px;
				border:1px solid #ccc;
				color: #000;
				float: left;
				margin: 5px;
				text-align: center;
				line-height: 50px;
				border-radius: 50px;
				&.true{
					background:  #eca800;
					color: #fff;
					height: 50px;
					width: 16%;
					border-radius: 50px;
				}
				&.false{
					background: #009fdd;
					color: #fff;
					height: 50px;
					width: 16%;
					border-radius: 50px;
				}
			}

		}
	}
}
.score_btn{
	width: 100%;
	height: 45px;
	margin-top: 15%;
	clear: both;
	button{
		display: block;
		width: 40%;
		background: #eca800;
		color:#fff;
		height: 45px;
		line-height: 45px;
		text-align: center;
		border-radius: 30px;
		border:none;
		margin-left: 32%;
	}
}
.count{
	width: 100%;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	margin-top: 10%;
	p{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border:1px solid #ccc;
	text-align: center;
	display: block;
	line-height: 50px;
	}
	


}
.awser_nav{
	width: 100%;
	height: 60px;
	background: #eee;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	span{
		width: 25%;
		color: #000;
		display: block;
		text-align: center;
		font-size: 0.14rem;
		&:last-child{
			background:#eca800;
			color: #fff;
			border-radius: 25px;
		}
	}

}
.awser_topic{
	margin-top: 2%;
	width: 100%;
}
.awser_choice{
	width: 100%;
	margin-top: 4%;
	p{
		line-height:24px;
		.awser_radio{
			padding-right: 10px;
		}
	}
}
.awser_submit{
	margin-top: 10%;
	width: 100%;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	button{
		width: 100%;
		height: 35px;
		background: #eca800;
		color: #fff;
		text-align: center;
		border:none;
		border-radius: 10px;
		padding: 0 40px;
	}
}