<<<<<<< HEAD
.index-banner{
	width: 100%;
	position: relative;
	.swiper-wrapper{
		width: 100%;
		.swiper-slide{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
}
.index-nav{
	width: 100%;
	display: -webkit-box;
	padding: 3% 0;
	a{
		-webkit-box-flex:1; 
		display: block;
		display: -webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		i,span{
			display: block;
		}
		i{
		 width:50%;
			img{
			    width: 100%;
		      }
		} 
	}
}
.second{
	background:#f4f4f4;
}
.index-sursetitle{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    padding:3%;
}
.index-curse{
	display: -webkit-box;
	a{
	   border:solid 1px #ccc;
       font-size: 12px;
	   border-radius: 30px 30px;
	   -webkit-box-flex:1;
	   margin: 10px;
	   padding: 2% 0;
	   display: -webkit-box;
	   -webkit-box-orient:vertical;
	   -webkit-box-pack:center;
	   -webkit-box-align:center;
	   color: #000;
       i,b{
       	  display: block;
       	  font-weight: normal;
       }
	}
}
=======
>>>>>>> 215b4cb751627cc0c1b3b45a1f8f2dd4278f4cad
