.tuichuye{
	width: 100%;
	position: relative;
	.zhonglv{
		position: absolute;
		top: 270px;
		left: 130px;
		a{
			display: block;
			width: 150px;
			height: 40px;
			border: 1px solid pink;
			color: #999;
			text-align: center;
			line-height: 40px;
			border-radius: 15px;
			font-size: 18px;
		}
	}
	.biaoti{
		position: absolute;
		top: 320px;
		left: 115px;
		font-size: 50px;
		h2{
			color: orange;
		}
	}
	.jsj{
		position: absolute;
		top: 420px;
		left: 80px;
		ul{
			display: -webkit-box;
			li{
				padding: 0 25px;
				font-size: 18px;
				color: #ccc;
			}
		}
	}
}