.zhu{
	.biao{
		width: 100%;
		display: -webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		.ti{
			a{
				display: block;
				width: 150px;
				height: 40px;
				border: 1px solid pink;
				color: #999;
				text-align: center;
				line-height: 40px;
				border-radius: 15px;
				font-size: 18px;
				margin: 10px;
			}
		}
		.biaoti{
			font-size: 50px;
			margin: 10px;
			h2{
				color: orange;
			}
				
		}
		.jsj{

				margin: 10px;
			ul{
				display: -webkit-box;
				li{
					padding: 0 25px;
					font-size: 18px;
					color: #fff;
				}
			}
		}
	}
	.zhu-page{
		margin-top:20px;
		display: -webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		input{
			display: block;
			width:90%;
			height:45px;
			margin:2% 5%;
			border:1px solid #ccc;
			font-size:12px;
		}
		.yan{
			position: relative;
			width:100%;
			input{
				display: block;
				width:90%;
				height:45px;
				margin:2% 5%;
				border:1px solid #ccc;
				font-size:12px;
			}
			.yz{
				position: absolute;
				top: 18px;
				right: 30px;
				background: orange;
				border-radius: 15px;
				padding: 3px 15px;
				color: #fff;
			}
		}
		

	}
	.zhu-btn{
		width:90%;
		height:45px;
		margin:8% 5%;
		background: #FF9B00;
		border-radius:45px;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack:center;
		.btn{
			list-style: none;
			border:none;
			font-size:14px;
			background: #FF9B00;
			color:#fff;
			font-weight:normal;
		}
	}
	.namber{
		width:90%;
		margin:8% 5%;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack:center;
		p{
			a{
				color: #FF9B00;
			}
		}
	}
}
	