<ion-view title="修改密码" hide-back-button="true">
    <ion-content>
        <div class="change">
           <div class="change-page">
                <input type="password" name="userPwd"  ng-model='userPwd'  placeholder="请输入新密码" class="mo">
                <input type="password" name="userpwd"  ng-model='userpwd'  placeholder="请确认密码" class="mo">
             </div> 
             <div class="change-btn"> 
                 <button ng-click='change()' class="btn" nav-transition="none">修改密码</button>
             </div>
        </div>
	</ion-content>
</ion-view>