<ion-view title="登陆" hide-back-button="true">
    <ion-content>
    	<div class="biao">
			<div class="ti">
				<a href="#">&nbsp;中&nbsp;&nbsp;律&nbsp;&nbsp;教&nbsp;&nbsp;育&nbsp;</a>
			</div>
			<div class="biaoti">
				<h2>刷&nbsp;题&nbsp;宝</h2>
			</div>
		</div>
         <div class="login-page">
         	<input type="text" name="userName"  ng-model='userName'  placeholder="请输入手机号" class="mo">
         	<input type="password" name="userpwd"  ng-model='userpwd'  placeholder="请输入密码" class="mo">
         </div> 
         <div class="login-btn"> 
         	 <button ng-click='loginDo()' class="btn">登陆</button>
         </div>	
         <div class="namber">
         	<p>没有账号去<a href="#" ui-sref="zhuce">注册</a>&nbsp;<a href="#" ui-sref="wangji">忘记密码？</a></p>
         </div>
	</ion-content>
</ion-view>