<ion-view title="忘记密码" hide-back-button="true">
    <ion-content>
    	<div class="pwd">
            <div class="biao">
                <div class="ti">
                    <a href="#">&nbsp;中&nbsp;&nbsp;律&nbsp;&nbsp;教&nbsp;&nbsp;育&nbsp;</a>
                </div>
                <div class="biaoti">
                    <h2>刷&nbsp;题&nbsp;宝</h2>
                </div>
            </div>
              <div class="pwd-page">
                <input type="text" name="userMobile"  ng-model='userMobile'  placeholder="请输入手机号" class="mo">
                <p class="yan">
                  <input type="text" placeholder="请输入验证码" ng-model='userCode' class="mo">
                  <a href="javascript:;" class="yz" ng-click="send()" >获取验证码</a>
                </p>
              </div>
              <div class="pwd-btn">
                 <button ng-click='next()' nav-transition="none" class="btn">下一步</button>
              </div>
        </div>
	</ion-content>
</ion-view>